/* nav logo */


.head_nav h1 { 
    display: block;
    width: 160px;
    height: 60px;
    margin: 21px auto;
    background-image: url('../../../image/main-logo.png');
    background-size: cover;
    cursor: pointer;
}

/* main head*/
.main_head {
    position: relative;
    width: 1000px;
    margin: 40px auto 0;
    text-align: left;
}

.main_head h2 {
    margin: 0 0 15px;
    font-size: 24px;
    font-weight: 500;
}

.main_head span {
    position: absolute;
    top: 0;
    color: var(--color-grey);
    right: 0;
    font-size: 11px;
}

.main_nav {
    width: 1000px;
    margin: 40px auto 20px;
    overflow: hidden;
}

.main_nav ul {
    display: flex;
    width: 100%;
    list-style: none;
}

.main_li {
    width: 33.3%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid var(--color-lightgrey);
    border-bottom: 1px solid #9f9f9f;
}

.main_li a {
    color: #444444;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}

.main_li:hover {
    color: #fff;
    background-color: #444444;
}

.main_li a:hover {
    color: #fff;
}

.current {
    background: #444444;
}

.current a{
    color: #fff;
    font-weight: 600;
}

/* main article */
.product_container {
    display: block;
    position: relative;
    width: 1000px;
    min-height: 300px;
    margin: 20px auto 0;
    padding: 0 0 50px;
}

.product_lists {
    display: flex;
    padding: 5px 0 10px;
    display: block;
}

.product_lists ul {
    margin-top: 25px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}

.product_lists li{
    float: left;
    margin: 0 0 30px;
    height: 317px;
    width: 25%;
    font-family: inherit;
}

.product_lists a p {
    color: #1e1e1e;
    font-size: 16px;
    margin: 0 0 5px;
    line-height: 1.5em;
}
.product_lists a p:last-child{
font-weight: 700;
}

.product_lists a {
    color: #646464;
    text-decoration: none;
    text-align: center;
}

.thum {
    display: block;
    margin: 0 auto 10px;
    width: 100%;
    border: 0;
}

.thum img {
    width: 230px;
    height: 230px;
}

.product_lists:after {
    clear: both;
    display: block;
    content: '';
}