@import url("../reset.css");

:root {
    --color-grey: #646464;
    --color-lightgrey: #dad4d4;
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    overflow-y: scroll;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    line-height: 1.5em;
    letter-spacing: -0.1px;
    color: var(--color-grey);
    background: #fff;
}

.container {
    margin: 0 auto;
}

nav {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 1000px;
    height: 102px;
    
    text-align: center;
}

/* language list */
.language_container {
    position: absolute;
    /* left: 50%; */
    top: 0;
    width: 1000px;
    /* margin: 0 0 0 -500px; */
    z-index: 1;

}
.language {
    display: flex;
    float: left;
    margin: 7px 0 0;
    height: 26px;
}

.language .lang{
    padding: 0 8px 0 9px;
    color: var(--color-grey);
    font-weight: 600;
    font-size: 10px;
    line-height: 13px;
}

.lang::before {
    margin-right: 9px;
    content:"|";
}

.lang:first-child::before {
    content: none;
}

/* nav logo */
.head_nav{
    display: flex;
    height: 100%;
    text-align: center;
}

.head_nav h1 { 
    display: block;
    width: 160px;
    height: 60px;
    margin: 21px auto;
    background-image: url(../image/main-logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* nav search*/
fieldset {
    position: relative;
    top: -45px;
    right: -765px;
    width: 235px;
    height: 30px;
    padding: 0 33px 0 0;
    border: 1px solid var(--color-lightgrey);
    border-radius: 3px;
}

.search{
    position: absolute;
    top: 0;
    left: 5px;
    padding: 3px;
    height: 28px;
    line-height: 30px;
    border: none;
}

.search_btn {
    position: absolute;
    top: 3px;
    right: 8px;
    width: 20px;
    height: 20px;
    border: none;
    background: url(../image/pc_header_srch.png) no-repeat;
    background-size: cover;

}

.sub_nav {
    display: block;
    position: relative;
    left: 0;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    overflow: visible;
    background-color: #444;;
    text-align: left;
}

.sub_nav ul {
    display: block;
    position: relative;
    width: 1000px;
    margin: 0 auto;
    text-align: left;
}

.sub_li {
    float: left;
    width: 25%;
}

.sub_li a {
    display: block;
    padding: 0;
    height: 50px;
    font-weight: 400;
    line-height: 50px;
    color: #fff;
    font-size: 15px;
    letter-spacing: -0.1px;
    text-align: center;
    text-decoration: none;
}

/* main */
.slider {
    margin: 0 0 60px;
    height: 650px;
}