/* main head*/
.main_head {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 1000px;
    margin: 40px auto 0;
    text-align: left;
}

.main_head h2 {
    margin: 0 0 15px;
    font-size: 24px;
    font-weight: 500;
}

.main_head h3 {
    position: absolute;
    top: 40px;
    left: 0;
    color: var(--color-grey);
    right: 0;
    font-size: 13px;
}

.main_nav {
    width: 1000px;
    margin: 40px auto 20px;
    overflow: hidden;
}

.main_nav ul {
    display: flex;
    width: 100%;
    list-style: none;
}

.main_li {
    width: 50%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid var(--color-lightgrey);
    border-bottom: 1px solid #9f9f9f;
}

.main_li a {
    display: block;
    color: #444444;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}

.main_li:hover {
    color: #fff;
    background-color: #444444;
}

.main_li a:hover {
    color: #fff;
}

.current {
    background: #444444;
}

.current a{
    color: #fff;
    font-weight: 600;
}

.contents_header {
    display: flex;
    width: 1000px;
    margin: 40px auto 20px;
    border: 1px solid #ccc;
}


.contents_img {
    width: 500px;
    height: 300px;
    padding: 0;
    background-image: url('./img/main_header_img.jpg');
}

.contents_text {
    position: relative;
    padding: 35px;
    display: table-cell;
    overflow: hidden;
    width: 498px;
    vertical-align: middle;
    font-size: 24px;
    margin: 0 0 70px;
    text-align: center;
}

.contents_text img {
    position: absolute;
    right: 15px;
    top: 20px;
    width: 92px;
    margin: 0 0 70px;
}

.contents_text p {
    margin-top: 50px;
}

.buttons {
    position: absolute;
    top: 550px;
    right: 480px;
    display: flex;
}

.buttons button {
    width: 212px;
    height: 39px;
}
.buttons button:first-child {
    margin: 0 0.5% 0 0;
    background: #fff;
    border: 1px solid #787878;
}

.buttons button:last-child {
    color: #fff;
    background: #000;
    border: 1px solid #787878;
}