@import url("../reset.css");

:root {
    --color-grey: #646464;
    --color-lightgrey: #dad4d4;
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    overflow-y: scroll;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    line-height: 1.5em;
    letter-spacing: -0.1px;
    color: var(--color-grey);
    background: #fff;
}

.container {
    margin: 0 auto;
}

nav {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 1000px;
    height: 102px;
    
    text-align: center;
}

/* language list */
.language_container {
    position: absolute;
    /* left: 50%; */
    top: 0;
    width: 1000px;
    /* margin: 0 0 0 -500px; */
    z-index: 1;

}
.language {
    display: flex;
    float: left;
    margin: 7px 0 0;
    height: 26px;
}

.language .lang{
    padding: 0 8px 0 9px;
    color: var(--color-grey);
    font-weight: 600;
    font-size: 10px;
    line-height: 13px;
    cursor: pointer;
}

.lang::before {
    margin-right: 9px;
    content:"|";
}

.lang:first-child::before {
    content: none;
}

/* nav logo */
.head_nav{
    display: flex;
    height: 100%;
    text-align: center;
}

.head_nav h1 { 
    display: block;
    width: 160px;
    height: 60px;
    margin: 21px auto;
    background-image: url(../../../image/main-logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* nav search*/
fieldset {
    position: relative;
    top: -45px;
    right: -765px;
    width: 235px;
    height: 30px;
    padding: 0 33px 0 0;
    border: 1px solid var(--color-lightgrey);
    border-radius: 3px;
}

.search{
    position: absolute;
    top: 0;
    left: 5px;
    padding: 3px;
    height: 28px;
    line-height: 30px;
    border: none;
}

.search_btn {
    position: absolute;
    top: 3px;
    right: 8px;
    width: 20px;
    height: 20px;
    border: none;
    background: url(../image/pc_header_srch.png) no-repeat;
    background-size: cover;

}

.sub_nav {
    display: block;
    position: relative;
    left: 0;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    overflow: visible;
    background-color: #444;;
    text-align: left;
}

.sub_nav ul {
    display: block;
    position: relative;
    width: 1000px;
    margin: 0 auto;
    text-align: left;
}

.sub_li {
    float: left;
    width: 25%;
}

.sub_li a {
    display: block;
    padding: 0;
    height: 50px;
    font-weight: 400;
    line-height: 50px;
    color: #fff;
    font-size: 15px;
    letter-spacing: -0.1px;
    text-align: center;
    text-decoration: none;
}

/* main head*/
.main_head {
    position: relative;
    width: 1000px;
    margin: 40px auto 0;
    text-align: left;
}

.main_head h2 {
    margin: 0 0 15px;
    font-size: 24px;
    font-weight: 500;
}

.main_head span {
    position: absolute;
    top: 0;
    color: var(--color-grey);
    right: 0;
    font-size: 11px;
}

.main_nav {
    width: 1000px;
    margin: 40px auto 20px;
    overflow: hidden;
}

.main_nav ul {
    display: flex;
    width: 100%;
    list-style: none;
}

.main_li {
    width: 33.3%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid var(--color-lightgrey);
    border-bottom: 1px solid #9f9f9f;
}

.main_li a {
    color: #444444;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}

.current {
    background: #444444;
}

.current a{
    color: #fff;
    font-weight: 600;
}
/* js 
.main_li a {
    background: #444444; 
    color: #fff; 
}
*/


/* main image */
.img_container {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    letter-spacing: -0.05em;
    line-height: 1.6;
}

.img_first {
    display: flex;
    flex-direction: column;
    background: url(../../img/brand_bg_01.jpg) no-repeat 0 0;
    margin-bottom: 155px;
    padding: 175px 65px 0;
    text-align: center;
}

.img_first_title {
    color: #464646;
    font-size: 26px;
    font-weight: 300;
}

.img_first img {
    width: 300px;
    margin: 35px auto 50px;
    padding: 0;
    font-size: 1em;
}

.img_first p {
    font-size: 25px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    letter-spacing: -0.05em;
}

.img_first p strong {
    font-weight: 400;
}

.img_first h3 {
    position: absolute;
    top: 690px;
    left: 300px;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 52px;
    font-weight: 800;
    color: #363636;
}

.img_first_story {
    font-size: 24px;
    padding-top: 30px;
    margin: 235px 0 40px;
    border-top: 1px solid #959595;
}

.img_first_slogan {
    margin-bottom: 40px;
}

.img_first_last {
    margin: 40px 0 0;
}

/* img_second, third, forth, fifth, sixth */
.img_second, .img_third, .img_forth, .img_fifth, .img_sixth {
    position: relative;
    padding: 0 5%;
    margin-bottom: 180px;
    line-height: 1.2;
    height: 370px;
}

.img_second_img {
    position: relative;
    width: 370px;
    height: 370px;
    letter-spacing: -0.025em;
}

.img_second_img img:first-child {
    position: absolute;
    top:0;
    right: 20px;
    width: 250px;
}

.img_second_img img:last-child {
    position: absolute;
    bottom:0;
    left: 0;
    width: 150px;
    height: 189px;;
}

.img_second_text {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    padding-top: 25px;
    width: 530px;
    font-size: 23px;
    text-align: left;
}

.img_second_first, .img_third_first, .img_forth_first, .img_fifth_first, .img_sixth_first {
    line-height: 1.2;
    font-size: 23px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #7d7d7d;
}

.img_second_sloganE, .img_third_sloganE, .img_forth_sloganE, .img_fifth_sloganE, .img_sixth_sloganE {
    margin: 8px 0 10px;
    color: #252525;
    font-size: 42px;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 900;
}

.img_second_sloganK, .img_third_sloganK, .img_forth_sloganK, .img_fifth_sloganK, .img_sixth_sloganK {
    padding-bottom: 12px;
    color: #252525;
    border-bottom: 1px solid #959595;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 21px;
    font-weight: 600;
    line-height: 1.2;
}

.img_second_last, .img_third_last, .img_forth_last, .img_fifth_last, .img_sixth_last  {
    margin: 12px 0 20px;
    font-size: 19px;
    font-weight: 300;
    line-height: 2em;
}

/* third */ 

.img_third_img {
    position: relative;
    float: right;
    width: 370px;
    height: 370px;
    letter-spacing: -0.025em;
}

.img_third_img img:first-child {
    float: right;
    position: absolute;
    top:0;
    right: 0;
    width: 170px;
    height: 219px;
    z-index: 501;
}

.img_third_img img:last-child {
    position: absolute;
    bottom:0;
    left: 0;
    width: 170x;
    height: 189px;;
}

.img_third_text {
    position: absolute;
    float: left;
    top: 0;
    width: 560px;
    font-size: 23px;
    text-align: left;
}

/* forth */
.img_forth_text {
    position: absolute;
    float: right;
    top: 0;
    right: 50px;
    width: 530px;
    font-size: 23px;
    text-align: left;
}

.img_forth_img{
    position: relative;
    letter-spacing: -0.025em;
}

.img_forth_img img{
    position: relative;
    width: 340px;
    height: 340px;
    letter-spacing: -0.025em;
}

/* fifth */ 
.img_fifth_text {
    float: left;
    top: 0;
    right: 0;
    width: 530px;
    font-size: 23px;
    text-align: left;
}

.img_fifth_img{
    position: relative;
    letter-spacing: -0.025em;
}

.img_fifth_img img{
    position: absolute;
    right: 0;
    width: 340px;
    height: 445px;
    letter-spacing: -0.025em;
}

/* sixth */
.img_sixth_text {
    position: absolute;
    float: right;
    top: 0;
    right: 50px;
    width: 530px;
    font-size: 23px;
    text-align: left;
}

.img_sixth_img{
    position: relative;
    letter-spacing: -0.025em;
}

.img_sixth_img img{
    position: relative;
    width: 216px;
    height: 143px;
    letter-spacing: -0.025em;
}

.img_sixth_img_first {
    position: absolute;
    top: 0;
    left: 0;
    width: 340px;
    height: 145px;
    z-index: 10;
}

.img_sixth_img_second {
    position: absolute;
    top: 105px;
    left: -100px;
    width: 340px;
    height: 145px;
    z-index: 20;
}

.img_sixth_img_third {
    position: absolute;
    top: 220px;
    left: -435px;
    width: 340px;
    height: 145px;
    z-index: 30;
}