/* main head*/
.main_head {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 1000px;
    margin: 40px auto 0;
    text-align: left;
}

.main_head h2 {
    margin: 0 0 15px;
    font-size: 24px;
    font-weight: 500;
}

.main_head h3 {
    position: absolute;
    top: 40px;
    left: 0;
    color: var(--color-grey);
    right: 0;
    font-size: 13px;
}

.main_nav {
    width: 1000px;
    margin: 40px auto 20px;
    overflow: hidden;
}

.main_nav ul {
    display: flex;
    width: 100%;
    list-style: none;
}

.main_li {
    width: 33.3%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid var(--color-lightgrey);
    border-bottom: 1px solid #9f9f9f;
}

.main_li a {
    display: block;
    color: #444444;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}

.main_li:hover {
    color: #fff;
    background-color: #444444;
}

.main_li a:hover {
    color: #fff;
}

.current {
    background: #444444;
}

.current a{
    color: #fff;
    font-weight: 600;
}

.main_box {
    display: flex;
    width: 1000px;
    margin: 40px auto 20px;
    border: 1px solid #ccc;
}

.video {
    position: relative;
    float: left;
    width: 480px;
    height: 270px;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.text_contents {
    float: right;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 517px;
    height: 270px;
    padding: 30px;
    color: #333;
    box-sizing: border-box;
    text-align: left;
}

.text_contents .tit {
    margin: 0 0 15px;
    font-size: 18px;
    color: #333;
    line-height: 1.5em;
}