/* main head*/
.main_head {
    position: relative;
    width: 1000px;
    margin: 40px auto 0;
    text-align: left;
}

.main_head h2 {
    margin: 0 0 15px;
    font-size: 24px;
    font-weight: 500;
}

.main_head span {
    position: absolute;
    top: 0;
    color: var(--color-grey);
    right: 0;
    font-size: 11px;
}

.main_nav {
    width: 1000px;
    margin: 40px auto 20px;
    overflow: hidden;
}

.main_nav ul {
    display: flex;
    width: 100%;
    list-style: none;
}

.main_li {
    width: 33.3%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid var(--color-lightgrey);
    border-bottom: 1px solid #9f9f9f;
}

.main_li a {
    color: #444444;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}

.main_li:hover {
    color: #fff;
    background-color: #444444;
}

.main_li a:hover {
    color: #fff;
}

.current {
    background: #444444;
}

.current a{
    color: #fff;
    font-weight: 600;
}

/* main article */

.main_article {
    position: relative;
    width: 1000px;
    min-height: 300px;
    margin: 20px auto 0;
    padding: 0 0 50px;
    color: #fff;
}

.main_article img:first-child {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.main_article p {
    max-width: 100%;
    margin: 20px 0 40px;
    padding: 0 40px 0;
    height: 310px;
    background: url(../cop_info/image/company_bg.jpg) no-repeat center;
    background-size: cover;
}

.main_article p strong {
    margin-bottom: 25px;
    font-size: 54px;
    font-weight: 600;
    line-height: 52px;
    text-align: left;
    font-family: 'Noto Sans CJK KR', 'Noto Sans KR', sans-serif;
}